.cart-item {
    border:2px solid;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 1px 4px rgb(18, 17, 17);
    
}

.cart-item img {
    width: 100%;
    border-radius: 10px;
    height: 370px;
}

.product{
    text-align: center;
    font-weight: bold;
    font-size: 21px;
}

.rate{
    text-align: center;
    margin-top: 20px;
    font-size: 19px;
}

.buton{
    margin-left: 130px;
    margin-top: 10px;
    padding: 5px;
    font-weight: bold;
    border: 1px solid;
    border-radius: 3px;  
}

.buton:hover{
    background-color: gray;
    color: white;
}
.buton:active{
    background-color: rgb(244, 237, 237);
    color: black;
}
