.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0b2b60;
  padding: 25px 30px;
}

.logo {
  color: white;
  font-size: 24px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-link {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

.nav-link:hover {
  color: #38bdf8;
}

.active {
  border-bottom: 2px solid #38bdf8;
}
