.auth-container {
    background-image: url(../assets/Items/BacImage1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  height: 100vh;
  display: flex;
    justify-content: center;
    align-items: center;
  font-family: Arial, sans-serif;
}

.auth-card {
  width: 360px;
  padding: 25px;
  
  border-radius: 12px;
  box-shadow: 0px 10px 22px rgba(19, 19, 19, 0.25);
  text-align: center;
}

.auth-title {
  margin-bottom: 15px;
  font-size: 26px;
  font-weight: bold;
  color: #333;
}

.auth-form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.auth-input {
  padding: 12px;
  font-size: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
  transition: 0.3s;
}

.auth-input:focus {
  border-color: #4facfe;
  box-shadow: 0px 0px 5px rgba(79, 172, 254, 0.8);
}

.auth-button {
  padding: 12px;
  font-size: 16px;
  background: #4facfe;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.auth-button:hover {
  background: #007bff;
}

.auth-switch {
  margin-top: 15px;
  font-size: 14px;
  color: #333;
}

.auth-link {
  color: #007bff;
  font-weight: bold;
  cursor: pointer;
}

.auth-link:hover {
  text-decoration: underline;
}
