.focus{
    display: grid;
    padding: 20px;
    gap: 20px;
    grid-template-columns: 1fr 1fr;
}
@media screen and (max-width: 767px) {
    .focus{
        grid-template-columns: 1fr;
    }
}
.focus h1{
    padding-top: 150px;
}
.button{
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.button:hover{
    background-color: rgb(57, 185, 220);
    color: white;
    font-weight: bold;
    border-radius: 10px;
}
.image{
    width:50%;
    gap: 50px;
    height: 100%;
    float: right;
    box-shadow: 3px 5px 10px black;
}
.imge{
    width: 70%;
    height: 100%;
}
.Mgroup{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 150px;
}
@media screen and (max-width: 767px) {
    .Mgroup{
        grid-template-columns: 1fr;
    }
    
}
.Verity{
    margin-top: 150px;
}
.Verity h2{
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}
.cards1{
border: 1px solid;
border-radius: 20px;
margin: auto;
}
.card1{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
@media screen and (max-width: 767px) {
    .card1{
        grid-template-columns: 1fr;
    }
    
}
.card1 h3{
    padding-top: 10px;
    margin-left: 50px;
}
.img1{
    height: 350px;
    margin-top: 40px;
    margin-left: 50px;
    border-radius: 20px;
    box-shadow: 3px 4px 5px rgb(18, 17, 17);
}
.cards2{
border: 1px solid;
border-radius: 20px;
margin: auto;
}
.card2{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
@media screen and (max-width: 767px) {
    .card2{
        grid-template-columns: 1fr;
    }
    
}
.card2 h3{
    padding-top: 10px;
    margin-left: 50px;
}
.img2{
    height: 350px;
    margin-top: 40px;
    margin-bottom: 30px;
    margin-left: 50px;
    border-radius: 20px;
    box-shadow: 3px 4px 5px rgb(18, 17, 17);
}
.cards3{
border: 1px solid;
border-radius: 20px;
margin: auto;
}
.card3{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
@media screen and (max-width: 767px) {
    .card3{
        grid-template-columns: 1fr;
    }
    
}
.card3 h3{
    padding-top: 10px;
    margin-left: 50px;
}
.img3{
    height: 350px;
    margin-top: 70px;
    margin-bottom: 30px;
    margin-left: 50px;
    border-radius: 20px;
    box-shadow: 3px 4px 5px rgb(18, 17, 17);
}
.cards4{
border: 1px solid;
border-radius: 20px;
margin: auto;
}
.card4{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
@media screen and (max-width: 767px) {
    .card4{
        grid-template-columns: 1fr;
    }
    
}
.card4 h3{
    padding-top: 10px;
    margin-left: 50px;
}
.img4{
    height: 350px;
    width: 350px;
    margin-top: 80px;
    margin-bottom: 30px;
    margin-left: 50px;
    border-radius: 20px;
    box-shadow: 3px 4px 5px rgb(18, 17, 17);
}
.cards5{
border: 1px solid;
border-radius: 20px;
margin: auto;
}
.card5{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
@media screen and (max-width: 767px) {
    .card5{
        grid-template-columns: 1fr;
    }
    
}
.card5 h3{
    padding-top: 10px;
    margin-left: 50px;
}
.img5{
    height: 350px;
    width: 350px;
    margin-top: 120px;
    margin-bottom: 30px;
    margin-left: 50px;
    border-radius: 20px;
    box-shadow: 3px 4px 5px rgb(18, 17, 17);
}
.id{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;  
    margin-top: 40px;
    font-size: 18px;
    border: 1px solid;
    border-radius: 20px;
    box-shadow: 3px 4px 5px rgb(18, 17, 17);
}
.id p{
    text-align: center;
}
@media screen and (max-width:767px) {
    .id{
        grid-template-columns: 1fr;
    }
    
}
.id p:hover{
    color: red;
    font-weight: bold;
    cursor: pointer;
}